.wrapper {
    width: 100%;
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
    grid-template-rows: auto;
    grid-template-areas: 
    "main main main sidebar";
}

.main {
    padding: 20px;
    border: 1px solid #aaa;
    grid-area: main;
}

.sidebar {
    padding: 20px;
    border: 1px solid #aaa;
    grid-area: sidebar;
}